name: Prometheus Kubernetes CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'kubernetes/monitoring/prometheus/**'
  workflow_dispatch:


jobs:
  kubernetes:
    uses: ./.github/workflows/kubernetes-base.yaml
    with:
      working_directory: kubernetes/monitoring/prometheus
    secrets:
      config: ${{ secrets.KUBE_CONFIG }}